@model PagingResult<UserListingModel>
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage Users</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>Manage Users</h3>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            @Html.Partial("_SearchFilter", new PagingModel { SortBy = "FirstName", SortOrder = "Asc" })
                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th class="sorting" data-sortby="FirstName">First Name</th>
                                            <th class="sorting" data-sortby="LastName">Last Name</th>
                                            <th class="sorting" data-sortby="Email">Email</th>
                                            <th class="sorting" data-sortby="CreatedAt">Created On</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_userListing", Model)
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @Html.Partial("_Paging")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/users.js"></script>



    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();
            Users.ManageUsers(totalCount);
        });
    </script>
}

